<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Howdy!</title>
</head>
<body>
    <div layout:fragment="content" class="section">
        <div class="container">
            <h1>Greeting</h1>
            <div th:switch="${greeting.name}">
                <div th:case="null">
                    Please fill out the form below.
                </div>
                <div th:case="*">
                    <p th:text="'Hello, ' + ${greeting.name} + '!'" />
                    <p th:text="'You are ' + ${greeting.age} + ' years old.'" />
                </div>
            </div>

            <div class="row">
                <form class="col s12" action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
                    <div class="row">
                        <div class="input-field col s6">
                            <input class="validate" type="text" id="name" placeholder="Name" th:field="*{name}" />
                            <label for="name">Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input class="validate" type="text" id="age" placeholder="Age" th:field="*{age}" />
                            <label for="age">Age</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button type="submit" class="waves-effect waves-light btn">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <script th:inline="javascript">
            console.log([[${greeting}]])
        </script>
    </div>
</body>
</html>
