<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title>Spring MVC</title>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css"/>

    <style>
      #app {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }

      main {
        flex: 1;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div layout:replace="~{header :: header}"></div>

      <main>
        <div layout:fragment="content"></div>
      </main>

      <div layout:replace="~{footer :: footer}"></div>
    </div>
  </body>
</html>